## In this note book (without risk factor)
### Compute the Mean Squared Errors 
### Finally have the same data set with friends

## Data Import and Matrix Split

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
import random

### Fill in gender in R1 and R2 matrix

In [2]:
df = pd.read_csv('Intersection_Y1R1R2_0702Y1_R1_R2_on_0702clean_data.csv')

In [3]:
df = pd.read_csv('Intersection_Y1R1R2_0702Y1_0702.csv')
Y1 = df.loc[:, 'UniqueID':'t39_combo']
Y1['Gender'] = df['Gender']

In [4]:
df.head()

,Unnamed: 0,Unnamed: 0.1,UniqueID,a1_combo,a2_combo,a3_combo,a4_combo,a5_combo,a6_combo,b7_combo,...,Age,Date,Gender,GRYD_Zone,Ethnicity_Asian,Ethnicity_Black,Ethnicity_Latino,Ethnicity_White,Ethnicity_Other,RiskFactor
0,0,851,3538.0,3.0,3.0,4.0,4.0,3.0,2.0,3.0,...,13.0,2009-11-12,1.0,4.0,0.0,0.0,1.0,0.0,0.0,7.0
1,3,869,3552.0,3.0,4.0,4.0,3.0,4.0,2.0,4.0,...,14.0,2009-11-16,2.0,5.0,0.0,0.0,1.0,0.0,0.0,7.0
2,6,892,3569.0,3.0,5.0,4.0,1.0,4.0,2.0,5.0,...,13.0,2009-11-17,1.0,17.0,0.0,0.0,1.0,0.0,0.0,7.0
3,9,895,3570.0,3.0,4.0,2.0,3.0,4.0,3.0,3.0,...,10.0,2009-11-18,1.0,17.0,1.0,0.0,0.0,0.0,0.0,5.0
4,12,919,3586.0,4.0,4.0,5.0,5.0,4.0,1.0,3.0,...,11.0,2009-11-19,2.0,4.0,0.0,0.0,1.0,0.0,0.0,7.0

In [5]:
df = pd.read_csv('Intersection_Y1R1R2_0702R1_0702.csv')
R1 = df.loc[:, 'UniqueID':'t39_combo']
R1['Gender'] = df['Gender']

In [6]:
df = pd.read_csv('Intersection_Y1R1R2_0702R2_0702.csv')
R2 = df.loc[:, 'UniqueID':'t39_combo']
R2['Gender'] = df['Gender']

In [7]:
# change all nan gender values in R1 according to their values in Y1

for index in R1.index:
    gender = Y1.loc[index,'Gender']
    R1.loc[index, 'Gender'] = gender

In [8]:
# change all nan gender values in R2 according to their values in Y1

for index in R2.index:
    gender = Y1.loc[index,'Gender']
    R2.loc[index, 'Gender'] = gender

### Drop IDs with Nan values

In [9]:
#indices
columns = Y1.columns.tolist()
columns = columns[:-1]

#create list of indices that have NaN values in their rows
index_list=[]
for col in columns:   
    index_list.extend(Y1[Y1[col].isnull()].index.tolist())
index_list

#make this list unique
my_set = set(index_list)
unique_index_list = list(my_set)
unique_index_list

[]

In [10]:
#create list of indices that have NaN values in their rows
index_list=[]
for col in columns:   
    index_list.extend(R1[R1[col].isnull()].index.tolist())
index_list

#make this list unique
my_set = set(index_list)
unique_index_list1 = list(my_set)
unique_index_list1

[512, 770, 169, 624, 402, 56, 1087, 927]

In [11]:
#create list of indices that have NaN values in their rows
index_list=[]
for col in columns:   
    index_list.extend(R2[R2[col].isnull()].index.tolist())
index_list

#make this list unique
my_set = set(index_list)
unique_index_list2 = list(my_set)
unique_index_list2

[1297, 182, 347, 446, 763]

In [12]:
#make list of UniqueIDs associated with these NaN values
ID_list = []
for i in unique_index_list1:
    ID_list.append(R1.loc[i,'UniqueID'])
ID_list

[14334.0, 17710.0, 11189.0, 16486.0, 12668.0, 4960.0, 25920.0, 22418.0]

In [13]:
#make list of UniqueIDs associated with these NaN values
for i in unique_index_list2:
    ID_list.append(R2.loc[i,'UniqueID'])
ID_list

[14334.0,
 17710.0,
 11189.0,
 16486.0,
 12668.0,
 4960.0,
 25920.0,
 22418.0,
 32402.0,
 11205.0,
 12560.0,
 13876.0,
 17696.0]

In [14]:
#drop these IDs from the data
for id in ID_list:
    Y1 = Y1[Y1['UniqueID']!=id]

In [15]:
#drop these IDs from the data
for id in ID_list:
    R1 = R1[R1['UniqueID']!=id]

In [16]:
#drop these IDs from the data
for id in ID_list:
    R2 = R2[R2['UniqueID']!=id]

## Add gender control indicator in the input matrix

In [17]:
Y1['Gender1'] = 0
Y1['Gender2'] = 0
for i in Y1.index:
    if Y1.loc[i,'Gender'] == 1:
        Y1.set_value(i,'Gender1',1) 
        Y1.set_value(i,'Gender2',0) 
    else:
        Y1.set_value(i,'Gender1',0) 
        Y1.set_value(i,'Gender2',1)

In [18]:
R1['Gender1'] = 0
R1['Gender2'] = 0
for i in R1.index:
    if R1.loc[i,'Gender'] == 1:
        R1.set_value(i,'Gender1',1) 
        R1.set_value(i,'Gender2',0) 
    else:
        R1.set_value(i,'Gender1',0) 
        R1.set_value(i,'Gender2',1)

In [19]:
R2['Gender1'] = 0
R2['Gender2'] = 0
for i in R2.index:
    if R2.loc[i,'Gender'] == 1:
        R2.set_value(i,'Gender1',1) 
        R2.set_value(i,'Gender2',0) 
    else:
        R2.set_value(i,'Gender1',0) 
        R2.set_value(i,'Gender2',1)

In [20]:
R2.head()

,UniqueID,a1_combo,a2_combo,a3_combo,a4_combo,a5_combo,a6_combo,b7_combo,b8_combo,b9_combo,...,h33_combo,h34_combo,h35_combo,h36_combo,h37_combo,t38_combo,t39_combo,Gender,Gender1,Gender2
0,3538.0,2.0,4.0,2.0,1.0,2.0,1.0,2.0,2.0,2.0,...,2.0,1.0,2.0,2.0,1.0,0.0,0.0,1.0,1,0
1,3552.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,1.0,2.0,...,2.0,1.0,1.0,3.0,1.0,0.0,0.0,2.0,0,1
2,3569.0,4.0,4.0,3.0,1.0,1.0,2.0,4.0,4.0,4.0,...,4.0,3.0,2.0,4.0,2.0,0.0,1.0,1.0,1,0
3,3570.0,2.0,3.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1,0
4,3586.0,4.0,4.0,4.0,1.0,4.0,1.0,3.0,4.0,4.0,...,1.0,1.0,2.0,2.0,4.0,0.0,0.0,2.0,0,1

In [21]:
Y1 = Y1.drop('UniqueID',axis = 1)
Y1 = Y1.drop('Gender',axis = 1)

In [22]:
Y1 = Y1.transpose()
Y1.shape

(41, 1663)

In [23]:
R1 = R1.drop('UniqueID',axis = 1)
R1 = R1.drop('Gender',axis = 1)
R1 = R1.transpose()

In [24]:
R2 = R2.drop('UniqueID',axis = 1)
R2 = R2.drop('Gender',axis = 1)
R2 = R2.transpose()

## Standardize all responses to (0,1)

In [25]:
for i in range(Y1.shape[1]):
    Y1.iloc[37,i]=Y1.iloc[37,i]+1
    Y1.iloc[38,i]=Y1.iloc[38,i]+1
    R1.iloc[37,i]=R1.iloc[37,i]+1
    R1.iloc[38,i]=R1.iloc[38,i]+1
    R2.iloc[37,i]=R2.iloc[37,i]+1
    R2.iloc[38,i]=R2.iloc[38,i]+1

In [26]:
newlist=[]
for i in range(9):
    newlist.append(i)
for i in range(16,39):
    newlist.append(i)

In [27]:
for i in newlist:
    for j in range (Y1.shape[1]):
        Y1.iloc[i,j]=(Y1.iloc[i,j]-1)/4
        R1.iloc[i,j]=(R1.iloc[i,j]-1)/4
        R2.iloc[i,j]=(R2.iloc[i,j]-1)/4

In [28]:
Y1 = Y1.values
R1 = R1.values
R2 = R2.values

## Split test and train datasets

In [29]:
Index = list(range(Y1.shape[1]))
random.shuffle(Index)
Train_X = np.empty((Y1.shape[0],0))
Test_X = np.empty((Y1.shape[0],0))
Train_Y = np.empty((Y1.shape[0],0))
Test_Y = np.empty((Y1.shape[0],0))
for i in range(round(len(Index)*0.8)):
    Train_X = np.hstack((Train_X,Y1[:,Index[i]].reshape(-1,1)))
    #Train_X = np.hstack((Train_X,R1[:,Index[i]].reshape(-1,1)))
    Train_Y = np.hstack((Train_Y,R1[:,Index[i]].reshape(-1,1)))
    #Train_Y = np.hstack((Train_Y,R2[:,Index[i]].reshape(-1,1)))
for i in range(round(len(Index)*0.8),len(Index)):
    Test_X = np.hstack((Test_X,Y1[:,Index[i]].reshape(-1,1)))
    #Test_X = np.hstack((Test_X,R1[:,Index[i]].reshape(-1,1)))
    Test_Y = np.hstack((Test_Y,R1[:,Index[i]].reshape(-1,1)))
    #Test_Y = np.hstack((Test_Y,R2[:,Index[i]].reshape(-1,1)))
print(Train_X.shape)
print(Train_Y.shape)
print(Test_X.shape)
print(Test_Y.shape)

(41, 1330)
(41, 1330)
(41, 333)
(41, 333)

In [30]:
Y1_r = Train_X[0:39]
Y1_f = Train_X[39:41]

In [31]:
R1_r = Train_Y[0:39]
R1_f = Train_Y[39:41]

In [32]:
Test_X_r = Test_X[0:39]
Test_X_c = Test_X[39:41]
Test_Y_r = Test_Y[0:39]

In [33]:
R2_r = R2[0:39]
R2_f = R2[39:41]

## DMDc for Gender

### Y1 to R1

In [34]:
#Define the dimension parameters for later code

XwC = 41
X = 39
C = 2

In [35]:
#SVD for the Omega matrices(Combination of the original X-input matrix and control factors)

U_Y1,Sig_Y1,V_Y1=np.linalg.svd(Train_X, full_matrices=False)    
V_Y1_T=V_Y1.conjugate().transpose()
Sig_inv_Y1=np.zeros((XwC, XwC))
for i in range(XwC):
    for j in range(XwC):
        if i==j:
            Sig_inv_Y1[i][j]=1/Sig_Y1[i]

In [36]:
#Splitting U matrixes to one include only information of responses and another one with control factors

U_Y1_Q = U_Y1[:X,:]
U_Y1_Q_T = U_Y1_Q.conjugate().transpose()
U_Y1_G = U_Y1[X:XwC,:]
U_Y1_G_T = U_Y1_G.conjugate().transpose()

In [37]:
#SVD for the X' matrix(the next time input matrix of only questions)

U_R1_r,Sig_R1_r,V_R1_r=np.linalg.svd(R1_r, full_matrices=False)
U_R1_r_T = U_R1_r.conjugate().transpose()
V_R1_r_T=V_R1_r.conjugate().transpose()
Sig_inv_R1_r=np.zeros((X, X))
for i in range(X):
    for j in range(X):
        if i==j:
            Sig_inv_R1_r[i][j]=1/Sig_R1_r[i]

In [38]:
A_step2=np.dot(R1_r,V_Y1_T)
A_step3=np.dot(A_step2,Sig_inv_Y1)
A_Y1_R1=np.dot(A_step3,U_Y1_Q_T)
A_Y1_R1.shape

(39, 39)

In [39]:
#Calculate the transformation B matrix

B_Y1_R1=np.dot(A_step3,U_Y1_G_T)
B_Y1_R1.shape

(39, 2)

In [40]:
B_Y1_R1

array([[ 0.13412856,  0.12054367],
       [ 0.26639715,  0.29657491],
       [ 0.24771433,  0.25888278],
       [-0.03975953, -0.04327864],
       [ 0.06658763,  0.04141271],
       [-0.00921774, -0.01843258],
       [ 0.1526557 ,  0.11153709],
       [ 0.12850089,  0.08282138],
       [ 0.14942406,  0.10881763],
       [ 0.41600501,  0.41230349],
       [ 0.05345969,  0.0248122 ],
       [ 0.1289833 ,  0.05935085],
       [ 0.21504615,  0.20160981],
       [ 0.20824007,  0.34960148],
       [ 0.52655268,  0.59523948],
       [ 0.15756143,  0.21187349],
       [ 0.17595492,  0.15399471],
       [ 0.12376108,  0.12167646],
       [ 0.21987684,  0.21107501],
       [ 0.26718297,  0.27729476],
       [ 0.15519298,  0.14983649],
       [ 0.28375977,  0.27027146],
       [ 0.14227103,  0.10523386],
       [ 0.15719806,  0.1407004 ],
       [ 0.2000723 ,  0.17301258],
       [ 0.31912098,  0.29249004],
       [ 0.16108977,  0.1863125 ],
       [ 0.06441617,  0.07522169],
       [ 0.25294676,  0.24451501],
       [ 0.26108007,  0.2592539 ],
       [ 0.05804649,  0.06852948],
       [ 0.18758965,  0.21791046],
       [ 0.0628168 ,  0.03826502],
       [ 0.02781088,  0.02367785],
       [ 0.09248963,  0.09952202],
       [ 0.18332369,  0.22327629],
       [ 0.10571397,  0.11026612],
       [ 0.07745222,  0.0856714 ],
       [-0.00637015,  0.00481198]])

In [41]:
values_Y1, vectors_Y1 = np.linalg.eig(A_Y1_R1)

In [42]:
values_Y1

array([ 0.55682823+0.05066247j,  0.55682823-0.05066247j,
        0.46641191+0.j        ,  0.36340175+0.05818991j,
        0.36340175-0.05818991j,  0.04505698+0.12410133j,
        0.04505698-0.12410133j, -0.00906084+0.j        ,
       -0.00354009+0.02197803j, -0.00354009-0.02197803j,
        0.19809415+0.15446519j,  0.19809415-0.15446519j,
        0.05194501+0.09761161j,  0.05194501-0.09761161j,
        0.282653  +0.11737336j,  0.282653  -0.11737336j,
        0.35603761+0.j        ,  0.16760691+0.12455067j,
        0.16760691-0.12455067j,  0.31821265+0.j        ,
        0.28977761+0.05750795j,  0.28977761-0.05750795j,
        0.11059277+0.1024255j ,  0.11059277-0.1024255j ,
        0.08869227+0.07475297j,  0.08869227-0.07475297j,
        0.2717331 +0.j        ,  0.20382408+0.06675895j,
        0.20382408-0.06675895j,  0.22601218+0.03543798j,
        0.22601218-0.03543798j,  0.06280543+0.j        ,
        0.0718846 +0.j        ,  0.10386578+0.00960913j,
        0.10386578-0.00960913j,  0.21776067+0.j        ,
        0.1332506 +0.j        ,  0.16210541+0.02037483j,
        0.16210541-0.02037483j])

In [43]:
eiglog_Y1 = np.log(values_Y1)

In [44]:
lamphi_Y1=np.zeros(39)
for i in range (39):
    rep=vectors_Y1[i]
    norm=np.linalg.norm(rep)
    val=np.absolute(values_Y1[i])*norm
    lamphi_Y1[i]=val

## Compute MSE between predictions and actual

### Y1 to R1

In [45]:
predictions_A = np.dot(A_Y1_R1,Test_X_r)
predictions_B = np.dot(B_Y1_R1,Test_X_c)
predictions = predictions_A + predictions_B

In [46]:
df = pd.DataFrame(predictions)
df.to_csv('predictions_Y1_R1.csv')

In [47]:
mse = mean_squared_error(Test_Y_r, predictions)
mse

0.09930891420666887