## In this note book (without risk factor)
### Compute the Mean Squared Errors 
### Finally have the same data set with friends

## Data Import and Matrix Split

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
import random

### Fill in gender in R1 and R2 matrix

In [2]:
df = pd.read_csv('Intersection_Y1R1R2_0702Y1_R1_R2_on_0702clean_data.csv')

In [3]:
df = pd.read_csv('Intersection_Y1R1R2_0702Y1_0702.csv')
Y1 = df.loc[:, 'UniqueID':'t39_combo']
Y1['RiskFactor'] = df['RiskFactor']
Y1['Gender'] = df['Gender']

In [4]:
df.head()

,Unnamed: 0,Unnamed: 0.1,UniqueID,a1_combo,a2_combo,a3_combo,a4_combo,a5_combo,a6_combo,b7_combo,...,Age,Date,Gender,GRYD_Zone,Ethnicity_Asian,Ethnicity_Black,Ethnicity_Latino,Ethnicity_White,Ethnicity_Other,RiskFactor
0,0,851,3538.0,3.0,3.0,4.0,4.0,3.0,2.0,3.0,...,13.0,2009-11-12,1.0,4.0,0.0,0.0,1.0,0.0,0.0,7.0
1,3,869,3552.0,3.0,4.0,4.0,3.0,4.0,2.0,4.0,...,14.0,2009-11-16,2.0,5.0,0.0,0.0,1.0,0.0,0.0,7.0
2,6,892,3569.0,3.0,5.0,4.0,1.0,4.0,2.0,5.0,...,13.0,2009-11-17,1.0,17.0,0.0,0.0,1.0,0.0,0.0,7.0
3,9,895,3570.0,3.0,4.0,2.0,3.0,4.0,3.0,3.0,...,10.0,2009-11-18,1.0,17.0,1.0,0.0,0.0,0.0,0.0,5.0
4,12,919,3586.0,4.0,4.0,5.0,5.0,4.0,1.0,3.0,...,11.0,2009-11-19,2.0,4.0,0.0,0.0,1.0,0.0,0.0,7.0

In [5]:
df = pd.read_csv('Intersection_Y1R1R2_0702R1_0702.csv')
R1 = df.loc[:, 'UniqueID':'t39_combo']
R1['RiskFactor'] = df['RiskFactor']
R1['Gender'] = df['Gender']

In [6]:
df = pd.read_csv('Intersection_Y1R1R2_0702R2_0702.csv')
R2 = df.loc[:, 'UniqueID':'t39_combo']
R2['RiskFactor'] = df['RiskFactor']
R2['Gender'] = df['Gender']

In [7]:
# change all nan gender values in R1 according to their values in Y1

for index in R1.index:
    gender = Y1.loc[index,'Gender']
    R1.loc[index, 'Gender'] = gender

In [8]:
# change all nan gender values in R2 according to their values in Y1

for index in R2.index:
    gender = Y1.loc[index,'Gender']
    R2.loc[index, 'Gender'] = gender

### Drop IDs with Nan values

In [9]:
#indices
columns = Y1.columns.tolist()
columns = columns[:-1]

#create list of indices that have NaN values in their rows
index_list=[]
for col in columns:   
    index_list.extend(Y1[Y1[col].isnull()].index.tolist())
index_list

#make this list unique
my_set = set(index_list)
unique_index_list = list(my_set)
unique_index_list

[]

In [10]:
#create list of indices that have NaN values in their rows
index_list=[]
for col in columns:   
    index_list.extend(R1[R1[col].isnull()].index.tolist())
index_list

#make this list unique
my_set = set(index_list)
unique_index_list1 = list(my_set)
unique_index_list1

[512, 770, 169, 624, 402, 56, 1087, 927]

In [11]:
#create list of indices that have NaN values in their rows
index_list=[]
for col in columns:   
    index_list.extend(R2[R2[col].isnull()].index.tolist())
index_list

#make this list unique
my_set = set(index_list)
unique_index_list2 = list(my_set)
unique_index_list2

[1297, 182, 347, 446, 763]

In [12]:
#make list of UniqueIDs associated with these NaN values
ID_list = []
for i in unique_index_list1:
    ID_list.append(R1.loc[i,'UniqueID'])
ID_list

[14334.0, 17710.0, 11189.0, 16486.0, 12668.0, 4960.0, 25920.0, 22418.0]

In [13]:
#make list of UniqueIDs associated with these NaN values
for i in unique_index_list2:
    ID_list.append(R2.loc[i,'UniqueID'])
ID_list

[14334.0,
 17710.0,
 11189.0,
 16486.0,
 12668.0,
 4960.0,
 25920.0,
 22418.0,
 32402.0,
 11205.0,
 12560.0,
 13876.0,
 17696.0]

In [14]:
#drop these IDs from the data
for id in ID_list:
    Y1 = Y1[Y1['UniqueID']!=id]

In [15]:
#drop these IDs from the data
for id in ID_list:
    R1 = R1[R1['UniqueID']!=id]

In [16]:
#drop these IDs from the data
for id in ID_list:
    R2 = R2[R2['UniqueID']!=id]

## Add gender control indicator in the input matrix

In [17]:
Y1['Gender1'] = 0
Y1['Gender2'] = 0
for i in Y1.index:
    if Y1.loc[i,'Gender'] == 1:
        Y1.set_value(i,'Gender1',1) 
        Y1.set_value(i,'Gender2',0) 
    else:
        Y1.set_value(i,'Gender1',0) 
        Y1.set_value(i,'Gender2',1)

In [18]:
R1['Gender1'] = 0
R1['Gender2'] = 0
for i in R1.index:
    if R1.loc[i,'Gender'] == 1:
        R1.set_value(i,'Gender1',1) 
        R1.set_value(i,'Gender2',0) 
    else:
        R1.set_value(i,'Gender1',0) 
        R1.set_value(i,'Gender2',1)

In [19]:
R2['Gender1'] = 0
R2['Gender2'] = 0
for i in R2.index:
    if R2.loc[i,'Gender'] == 1:
        R2.set_value(i,'Gender1',1) 
        R2.set_value(i,'Gender2',0) 
    else:
        R2.set_value(i,'Gender1',0) 
        R2.set_value(i,'Gender2',1)

In [20]:
R2.head()

,UniqueID,a1_combo,a2_combo,a3_combo,a4_combo,a5_combo,a6_combo,b7_combo,b8_combo,b9_combo,...,h34_combo,h35_combo,h36_combo,h37_combo,t38_combo,t39_combo,RiskFactor,Gender,Gender1,Gender2
0,3538.0,2.0,4.0,2.0,1.0,2.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,1.0,0.0,0.0,0.0,1.0,1,0
1,3552.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,1.0,2.0,...,1.0,1.0,3.0,1.0,0.0,0.0,0.0,2.0,0,1
2,3569.0,4.0,4.0,3.0,1.0,1.0,2.0,4.0,4.0,4.0,...,3.0,2.0,4.0,2.0,0.0,1.0,5.0,1.0,1,0
3,3570.0,2.0,3.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,...,1.0,1.0,1.0,1.0,0.0,0.0,2.0,1.0,1,0
4,3586.0,4.0,4.0,4.0,1.0,4.0,1.0,3.0,4.0,4.0,...,1.0,2.0,2.0,4.0,0.0,0.0,4.0,2.0,0,1

In [21]:
Y1 = Y1.drop('UniqueID',axis = 1)
Y1 = Y1.drop('Gender',axis = 1)

In [22]:
Y1 = Y1.transpose()
Y1.shape

(42, 1663)

In [23]:
R1 = R1.drop('UniqueID',axis = 1)
R1 = R1.drop('Gender',axis = 1)
R1 = R1.transpose()

In [24]:
R2 = R2.drop('UniqueID',axis = 1)
R2 = R2.drop('Gender',axis = 1)
R2 = R2.transpose()

## Standardize all responses to (0,1)

In [25]:
for i in range(1663):
    Y1.iloc[37,i]=Y1.iloc[37,i]+1
    Y1.iloc[38,i]=Y1.iloc[38,i]+1
    R1.iloc[37,i]=R1.iloc[37,i]+1
    R1.iloc[38,i]=R1.iloc[38,i]+1
    R2.iloc[37,i]=R2.iloc[37,i]+1
    R2.iloc[38,i]=R2.iloc[38,i]+1

In [26]:
newlist=[]
for i in range(9):
    newlist.append(i)
for i in range(16,39):
    newlist.append(i)

In [27]:
for i in newlist:
    for j in range (1663):
        Y1.iloc[i,j]=(Y1.iloc[i,j]-1)/4
        R1.iloc[i,j]=(R1.iloc[i,j]-1)/4
        R2.iloc[i,j]=(R2.iloc[i,j]-1)/4
for j in range (Y1.shape[1]):
    Y1.iloc[39,j] = Y1.iloc[39,j] / 9
    R1.iloc[39,j] = R1.iloc[39,j] / 9
    R2.iloc[39,j] = R2.iloc[39,j] / 9

In [28]:
Y1_r = Y1[0:40]
Y1_f = Y1[40:42]

In [29]:
R1_r = R1[0:40]
R1_f = R1[40:42]

In [30]:
R2_r = R2[0:40]
R2_f = R2[40:42]

## DMDc for Gender

### Y1 to R1

In [31]:
#Define the dimension parameters for later code

XwC = 42
X = 40
C = 2

In [32]:
#SVD for the Omega matrices(Combination of the original X-input matrix and control factors)

U_Y1,Sig_Y1,V_Y1=np.linalg.svd(Y1, full_matrices=False)    
V_Y1_T=V_Y1.conjugate().transpose()
Sig_inv_Y1=np.zeros((XwC, XwC))
for i in range(XwC):
    for j in range(XwC):
        if i==j:
            Sig_inv_Y1[i][j]=1/Sig_Y1[i]

In [33]:
#Splitting U matrixes to one include only information of responses and another one with control factors

U_Y1_Q = U_Y1[:X,:]
U_Y1_Q_T = U_Y1_Q.conjugate().transpose()
U_Y1_G = U_Y1[X:XwC,:]
U_Y1_G_T = U_Y1_G.conjugate().transpose()

In [34]:
#SVD for the X' matrix(the next time input matrix of only questions)

U_R1_r,Sig_R1_r,V_R1_r=np.linalg.svd(R1_r, full_matrices=False)
U_R1_r_T = U_R1_r.conjugate().transpose()
V_R1_r_T=V_R1_r.conjugate().transpose()
Sig_inv_R1_r=np.zeros((X, X))
for i in range(X):
    for j in range(X):
        if i==j:
            Sig_inv_R1_r[i][j]=1/Sig_R1_r[i]

In [35]:
U_Y1_Q.shape

(40, 42)

In [36]:
A_step2=np.dot(R1_r,V_Y1_T)
A_step3=np.dot(A_step2,Sig_inv_Y1)
A_Y1_R1=np.dot(A_step3,U_Y1_Q_T)
A_Y1_R1.shape

(40, 40)

In [37]:
#Calculate the transformation B matrix

B_Y1_R1=np.dot(A_step3,U_Y1_G_T)
B_Y1_R1.shape

(40, 2)

In [38]:
B_Y1_R1

array([[ 0.13238128,  0.13306168],
       [ 0.21302854,  0.25210739],
       [ 0.23404435,  0.24928591],
       [-0.05001312, -0.04938257],
       [ 0.08579734,  0.07490532],
       [-0.01159331, -0.02305912],
       [ 0.13318763,  0.10158543],
       [ 0.1071812 ,  0.07741252],
       [ 0.11831227,  0.0943087 ],
       [ 0.4115196 ,  0.40827813],
       [ 0.01516521, -0.01108571],
       [ 0.13957455,  0.09825831],
       [ 0.21392909,  0.21704872],
       [ 0.18705722,  0.32482876],
       [ 0.51696254,  0.55629391],
       [ 0.17219782,  0.20795913],
       [ 0.19124735,  0.18213827],
       [ 0.15723672,  0.17198288],
       [ 0.23942526,  0.23849257],
       [ 0.25314732,  0.27272897],
       [ 0.15976517,  0.16805966],
       [ 0.29594347,  0.29023704],
       [ 0.15409522,  0.1256917 ],
       [ 0.18015102,  0.17374902],
       [ 0.20028397,  0.18355119],
       [ 0.31830862,  0.30010669],
       [ 0.17127481,  0.19201066],
       [ 0.05653099,  0.06837557],
       [ 0.24837538,  0.24801068],
       [ 0.26669759,  0.2763928 ],
       [ 0.04911946,  0.06798985],
       [ 0.16335203,  0.19272878],
       [ 0.06565819,  0.05401593],
       [ 0.02942472,  0.02745821],
       [ 0.06701738,  0.0735464 ],
       [ 0.16504149,  0.21094951],
       [ 0.07674101,  0.07861873],
       [ 0.06340904,  0.06843568],
       [ 0.03087645,  0.04457249],
       [-0.01482452, -0.00302174]])

In [39]:
values_Y1, vectors_Y1 = np.linalg.eig(A_Y1_R1)

In [40]:
values_Y1

array([0.53872108+0.02171859j, 0.53872108-0.02171859j,
       0.43896837+0.j        , 0.36063078+0.j        ,
       0.3347079 +0.03862373j, 0.3347079 -0.03862373j,
       0.30585638+0.0507017j , 0.30585638-0.0507017j ,
       0.25791777+0.10770844j, 0.25791777-0.10770844j,
       0.20209747+0.11347884j, 0.20209747-0.11347884j,
       0.27537867+0.j        , 0.23754189+0.07050636j,
       0.23754189-0.07050636j, 0.25421351+0.00738374j,
       0.25421351-0.00738374j, 0.01666172+0.05481398j,
       0.01666172-0.05481398j, 0.05563064+0.09798402j,
       0.05563064-0.09798402j, 0.1213557 +0.11629804j,
       0.1213557 -0.11629804j, 0.11836152+0.08923547j,
       0.11836152-0.08923547j, 0.0289535 +0.00893223j,
       0.0289535 -0.00893223j, 0.04534471+0.j        ,
       0.08874526+0.06976412j, 0.08874526-0.06976412j,
       0.195854  +0.0357243j , 0.195854  -0.0357243j ,
       0.16398662+0.05723811j, 0.16398662-0.05723811j,
       0.08770244+0.03986852j, 0.08770244-0.03986852j,
       0.09683013+0.j        , 0.11563569+0.j        ,
       0.15721378+0.02235966j, 0.15721378-0.02235966j])

## Compute MSE between predictions and actual

### Y1 to R1

In [41]:
predictions_A = np.dot(A_Y1_R1,Y1_r)
predictions_B = np.dot(B_Y1_R1,Y1_f)
predictions = predictions_A + predictions_B

In [43]:
mse = mean_squared_error(R1_r, predictions)
mse

0.09497003030774953