In [6]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

df_c= pd.read_csv("ConcernLv_RF.csv")

In [10]:
df_c.head()

,Unnamed: 0,UniqueID,Section_a,Section_b,Section_c,Section_de,Section_f,Section_g,Section_h,Section_t,Section_ij,y_TotalFactors
0,0,1010,0,3,1,1,0,0,1,3,0,NaN
1,1,1010,0,1,0,0,0,0,0,0,0,1.0
2,2,1042,0,2,1,0,1,2,4,3,1,7.0
3,3,1043,2,4,0,1,2,2,4,3,0,8.0
4,4,1043,0,2,0,0,1,1,1,3,0,NaN

In [11]:
def pos(df,num):
    
    if df.at[num,'UniqueID']==df.at[num+1,'UniqueID']        and df.at[num,'UniqueID']==df.at[num+2,'UniqueID'] :
        return num
    else: 
        return 0

In [12]:
#collecting the index of students who took Y1R1R2
#each has size 705, intersect_y1_r1_r2 size 2115
#The index is used to generate the csv files
intersec_y1=[]
intersec_r1=[]
intersec_r2=[]
intersect_y1_r1_r2=[]

for i in range(32894):
    if pos(df_c,i)!=0:
        intersec_y1.append(i)
        intersec_r1.append(i+1)
        intersec_r2.append(i+2)
        intersect_y1_r1_r2.append(i)
        intersect_y1_r1_r2.append(i+1)
        intersect_y1_r1_r2.append(i+2)

In [13]:
#df_new is the extracted students and their Y1R1R2 test results
df_new=df_c.ix[intersect_y1_r1_r2]
df_new.to_csv('Intersection_Y1R1R2_0702Y1_R1_R2_on_0702clean_data.csv',index=False)

In [14]:
np.shape(intersect_y1_r1_r2)

(7743,)

In [15]:
list_1=range(0,7743,3)
list_2=range(1,7743,3)
list_3=range(2,7743,3)

df_1=df_new.iloc[list_1,:]
df_2=df_new.iloc[list_2,:]
df_3=df_new.iloc[list_3,:]

df_1.to_csv('Intersection_Y1R1R2_Y1.csv')
df_2.to_csv('Intersection_Y1R1R2_R1.csv')
df_3.to_csv('Intersection_Y1R1R2_R2.csv')